<a href="https://colab.research.google.com/github/sowmya-beck/DSMLNotebooks/blob/main/simmi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello world')

hello world

In [ ]:
# Functions in python
def greet(name):
 return "hello"+name
 # calling a function
print(greet("Simmi"))

helloSimmi

In [ ]:
import math
print(math.sqrt(64))

8.0

In [ ]:
# list
# using []
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# using list () comstructor
names = list(["simmi","sowmya","anika"])
print(names)

['simmi', 'sowmya', 'anika']

In [ ]:
names = ["simmi","sowmya","anika"]
print(names)

['simmi', 'sowmya', 'anika']

In [ ]:
# Tuple
my_tuple = (1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
# Dictionary
my_dict = { "name":"simmi","age":25}
print(my_dict)

{'name': 'simmi', 'age': 25}

In [ ]:
# Set
my_set ={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [34]:
# Accessing List Elements
colors = ["red","green","blue","yellow"]
print(colors[0])
print(colors[1])
print(colors[-1])
print(colors[-2])

red
green
yellow
blue

In [48]:
# List slicing
print(colors[0:1:2])
print(colors[0:-3])
print(colors[0:4])
print(colors[::-1])

['red']
['red']
['red', 'green', 'blue', 'yellow']
['yellow', 'blue', 'green', 'red']

In [49]:
# list operations in python
# Concatation- join 2 list
list1 = [1,2]
list2 = [3,4,5]
print([list1+list2])

[[1, 2, 3, 4, 5]]

In [51]:
#Repetition-repeats the list
print(list1*2)

[1, 2, 1, 2]

In [52]:
print([1,2]*2)

[1, 2, 1, 2]

In [55]:
# Membership - checks if an item exists
print(1 in list1)

True

In [57]:
# length -Return number of items
print(len(list1))

2

In [59]:
# Iteration- loops through the list
for i in list2:
  print(i)

3
4
5

In [71]:
# Tuples
# Uing ()
t1 = (1,2,3)
print(t1)

(1, 2, 3)

In [70]:
# without ()-comma separated
t2 = 4,5,6
print(t2)

(4, 5, 6)

In [66]:
# Single item tuple (note the comma)
t3 = (7,)

In [72]:
# Accessing tuple
t1 = (1,2,3,4,5,6)
print(t1)

(1, 2, 3, 4, 5, 6)

In [73]:
# Modifying tuples (Not allowed)
t1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [74]:
# Methods

In [76]:
# Indexing
print(t1[1])

2

In [78]:
# Slicing
print(t2[0:2])
print(t1[:2])

(4, 5)
(1, 2)

In [79]:
#length
print(len(t2))

3

In [80]:
# Concatation
print(t1+t2)

(1, 2, 3, 4, 5, 6, 4, 5, 6)

In [81]:
# Repetition
print(t1*2)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [83]:
# Membership
print(2 in t1)

True

In [84]:
# Tuples Method
# Count(x)- Returns number of items x appears
# index(x) - Return the first index of x

In [96]:
# count(x)
person = ('a','b','b','c''c','c','c')
print(person.count("c"))

2

In [97]:
# index
num = (1,2,3,4,5)
print(num[0])

1

In [110]:
# Nested list - lists can contain other list -great way to represent matrices or tables
matrix =[
    [1,2,3],
    [4,5,6]
]
print(matrix[0][2])

3

In [112]:
# Sets = stores an  unordered,mutable, collection of elements
#property- unordered,mutable, no duplicates,unindexed
# duplicates are removed automatically
s = {1,2,3,4,4,4,5,6}
print(s)

{1, 2, 3, 4, 5, 6}

In [1]:
# Common operations
# Union
a = {1,2,3}
b= {3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

In [2]:
# Intersection
print(a&b)

{3}

In [5]:
# Difference
a = {1,2,3}
b= {3,4,5}
print(a-b)

{1, 2}

In [6]:
# symmetric Difference
print(a^b)

{1, 2, 4, 5}

In [7]:
# Sets methods

In [12]:
# add(elem) - adds an element to the set
my_set = {1, 2, 3}
my_set.add(6)
print(my_set)

{1, 2, 3, 6}

In [57]:
# remove - removes specified elements
my_set = {1,2,3,4,5,6}
my_set.remove(1)
print(my_set)

{2, 3, 4, 5, 6}

In [32]:
# Discard - removes elements if present
my_set = {1,2,3,4,5,6}
my_set.discard(5)
print(my_set)

{1, 2, 3, 4, 6}

In [58]:
# Pop() - removes and return an arbitrary elements
my_set = {1,2,3,4,5,6}
my_set.pop()

1

In [60]:
# Clear - removes all element
a = {1,2,3,4,5}
a.clear()
print(a)

set()

In [45]:
# update(iterable) - adds multiple elements
my_set = {1,2,3}
my_set.update([4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [46]:
# Copy() - Return a shallow copy of the set
my_set = {1,2,3}
my_set.copy()
print(my_set)

{1, 2, 3}

In [49]:
# isdisjoint(other_set) - Return True if sets have no items in common
set1 = {1,2}
set2 = {3,4,5}
set1.isdisjoint(set2)

True

In [53]:
# issubset(other_set)- checks if current set is a subset
set1 = {1,2}
set2 = {1,2,3,4,5}
set1.issubset(set2)

True

In [55]:
# issuperset(other_set) - checks if current set is a superset
set1 = {1,2}
set2 = {1,2,3,4,5}
set1.issuperset(set2)

False